body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("dancefloor.jpg");
  width: 100%;
}

body, a:link, a:visited, a:active{
  color: lightblue; 
/* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.dancer{
  
  position:absolute;
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/originals/8a/c9/54/8ac954b2a750b07ccbcb2de352af6c5a.jpg');*/
}

/* EASY WAY TO HOVER
.dancer:hover{
  border-style: solid;
  border-color: red;
  position:absolute;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/8a/c9/54/8ac954b2a750b07ccbcb2de352af6c5a.jpg');
}*/

.bouncyDancer{
  position: absolute;

  /*background-color: blue;
  border:10px solid blue;
  border-radius:10px;*/
}
.img1 {
  height: 5vh;
  width: 5vw;
}
.img2 {
  height: 8vh;
  width: 8vw;
}
.moonwalk{
  height: 20vh;
  width: 20vw;
}

.battleLeft{
  position: fixed;
  top: 50%;
  right: 45%;
}

.battleRight{
  position: fixed;
  top: 50%;
  right: 55%;
}
